<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../common/base.css">
    <link rel="stylesheet" href="./forget.css">
    <title>Document</title>
</head>
<body>
    <div class="center forget">
        <div class="logo">
            <img src="../../images/login/img_logo_01.png" alt="">
        </div>
        <h3>找回密码</h3>
        <div class="process">
            <ul class="nav_tab">
                <li class="presentation active">
                   <a href="#">1.验证身份</a>
                </li>
                <li class="presentation">
                    <a href="#">2.重置密码</a>
                </li>
                <li class="presentation">
                    <a href="#">3.完成</a>
                </li>
            </ul>
        </div>
    </div>
</body>

</html>