<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../common/base.css">
    <link rel="stylesheet" href="../../../../Content/bootstrap.css">
    <link rel="stylesheet" href="./login.css">
    <title>Document</title>
</head>

<body>
    <div class="center home">
        <div class="logo">
            <img src="../../images/login/img_logo_01.png" alt="">
        </div>
        <div class="login">
            <form>
                <div class="title">
                    <h3>登录</h3>
                </div>
                <div class="username">
                    <img src="../../images/login/icon_user.png" alt="">
                    <input type="text" name="" placeholder="请输入用户名">
                </div>
                <!-- <div>
                    <label for="">请输入正确的用户名</label>
                </div> -->
                <div class="password">
                    <img src="../../images/login/icon_password.png" alt="">
                    <input type="password" name="" placeholder="请输入密码(区分大小写)">
                </div>
                <!-- <div>
                    <label for="">请输入正确的密码</label>
                </div> -->
                <div class="vcerificationCode">
                    <input type="text" name="" placeholder="请输入验证码">
                    <div class="code_pic">vHz5</div>
                </div>
                <!-- <div>
                    <label for="">验证码输入不正确</label>
                </div> -->
                <div class="checkbox">
                    <label class="autoLogin">
                        <img src="../../images/login/icon_untick.png" alt="">
                        <input type="checkbox"> 下次自动登录
                    </label>
                    <label class="forget">
                        <input type="checkbox"> 忘记密码？
                    </label>
                </div>
                <button type="button" class="btn">登录</button>
            </form>
        </div>
    </div>
</body>

</html>