<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../common/base.css">
    <link rel="stylesheet" href="../../../../Content/bootstrap.css">
    <link rel="stylesheet" href="../common/common.css">
    <link rel="stylesheet" href="./register.css">
    <title>Document</title>
</head>
<body>
   <header>
       <div class="back"><span class="icon-back"></span>返回</div>
       <div class="title">Penny邀请您注册</div>
       <div class="more"><i class="iconfont icon-gengduo"></i></div>
   </header>
   <div class="logo"></div>
</body>
</html>