<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../common/base.css">
    <link rel="stylesheet" href="../../../../Content/bootstrap.css">
    <!-- <link rel="stylesheet" href="../../../node_modules/bootstrap-datepicker/dist/css/bootstrap-datepicker.css"> -->
    <link rel="stylesheet" href="../common/common.css">
    <link rel="stylesheet" href="./teacherDetail.css">
    <script src="../../../../Scripts/jquery-3.2.1.js"></script>
    <script src="../../../../Scripts/bootstrap.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="center">
        <div class="nav">
            <div class="logo f-left"></div>
            <ul class="navlist f-left">
                <li class="f-left">
                    <a href="#">我的绘本</a>
                </li>
                <li class="f-left active">
                    <a href="#">教师管理</a>
                </li>
                <li class="f-left">
                    <a href="#">班级管理</a>
                </li>
                <li class="f-left">
                    <a href="#">学生管理</a>
                </li>
            </ul>
            <div class="user f-right">
                <div class="username f-left">
                    <img src="../../images/manager/img_user.png" alt="">
                    <a href="#">Jenny</a>
                </div>
                <div class="line f-left"></div>
                <p class="f-right">购买绘本</p>
            </div>
        </div>
        <div class="aside f-left">
            <div class="detail clearfix">
                <h4 class="f-left">教师资料管理</h4>
                <div class="settings f-right">
                    <img src="../../images/teachermanager/icon_setting.png" alt="">
                    <span>设置</span>
                    <ul>
                        <li class="active" data-toggle="modal" data-target="#resetModal">
                            <a href="#">重置密码</a>
                        </li>
                        <li data-toggle="modal" data-target="#deleteTeacher">
                            <a href="#">删除该教师</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="avatar">
                <img src="../../images/teachermanager/img_head portrait.png" alt="">
            </div>
            <p class="pic">
                <a href="#">更改头像</a>
            </p>
            <div class="info">
                <h5>教师基本信息</h5>
                <p>教师ID：12345</p>
                <p>教师姓名：Penny</p>
                <p>教师性别：女</p>
                <p>手机号码：152****8142</p>
                <p>登录账号：152****8142</p>
                <p>登录密码：******</p>
            </div>
        </div>
        <div class="content f-right">
            <div class="title">
                <ul class="nav">
                    <li class="active">
                        <a href="#">绘本管理</a>
                    </li>
                    <li>
                        <a href="#">学生管理</a>
                    </li>
                    <li>
                        <a href="#">班级管理</a>
                    </li>
                    <li>
                        <a href="#">权限管理</a>
                    </li>
                </ul>
                <div class="status clearfix">
                    <form class="navbar-form navbar-left clearfix" role="search">
                        <div class="form-item f-left">
                            <label for="">学生名称</label>
                            <div>   
                                <input type="text">
                            </div>
                        </div>
                        <div class="form-item f-left">
                            <label for="">学生班级</label>
                            <div class="dropdown">
                                <div class="dLabel" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="caret"></span>
                                </div>
                                <ul class="dropdown-menu" aria-labelledby="dLabel">
                                    <li>11122</li>
                                </ul>
                            </div>
                        </div>
                    </form>
                    <div class="checkbox clearfix">
                        <h4 class="f-left">绘本状态</h4>
                        <ul class="status f-left">
                            <li><img src="../../images/teachermanager/icon_tick.png" alt=""><span>全部</span></li>
                            <li><img src="../../images/teachermanager/icon_untick.png" alt=""><span>已分配</span></li>
                            <li><img src="../../images/teachermanager/icon_untick.png" alt=""><span>未分配</span></li>
                            <li><img src="../../images/teachermanager/icon_untick.png" alt=""><span>额度不足</span></li>
                        </ul>
                        <button type="button" class="btn f-right">确定</button>
                    </div>
                </div>
            </div>
            <div class="picbook list">
                <!-- 列表部分 -->
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th width="84px">课程类型</th>
                            <th width="130px">绘本合辑</th>
                            <th width="230px">简介</th>
                            <th width="90px">购买日期</th>
                            <th width="60px">剩余额度</th>
                            <th width="60px">有效期</th>
                            <th width="88px">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>标准课程</td>
                            <td>Read With Amanda</td>
                            <td style="text-align:left;padding-left: 10px">
                                <span>1.适合零基础3-4岁左右儿童；</span>
                                <br>
                                <span>2.10个字母（a/m/s/d/p/t/o/b
                                    <br>/n/h)的拼读规律；</span>
                                <br>
                                <span>3.主题：家庭生活。</span>
                            </td>
                            <td>2017/09/19</td>
                            <td>2/30</td>
                            <td>6个月</td>
                            <td class="operating">
                                <a href="#" style="text-decoration: underline">绘本额度管理</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- 分页部分 -->
                <div class="page aria-label=...">
                    <ul class="pagination pull-left">
                        <li class="disabled">
                            <span aria-label="Previous">
                                <span class="glyphicon glyphicon-menu-left"></span>
                            </span>
                        </li>
                        <li>
                            <a href="#" class="active">1
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">2
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">3
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">4
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">5
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">6
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">7
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="more">
                            <a href="#">
                                <span class="glyphicon glyphicon-option-horizontal"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">99
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">100
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="disabled">
                            <span aria-label="next">
                                <span class="glyphicon glyphicon-menu-right"></span>
                            </span>
                        </li>
                        <li>到第&nbsp;&nbsp;&nbsp;
                            <input type="text" name="" value="" style="width:50px;height:34px;padding-left:25px">&nbsp;&nbsp;&nbsp;页</li>
                        <li class="conform">
                            <a href="#">确定
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="stumanagent list">
                 <!-- 列表部分 -->
                 <table class="table table-hover">
                        <thead>
                            <tr>
                                <th width="64px">学生姓名</th>
                                <th width="30px">性别</th>
                                <th width="30px">年龄</th>
                                <th width="60px">学生头像</th>
                                <th width="90px">联系电话</th>
                                <th width="64px">学生家长</th>
                                <th width="100px">学生班级</th>
                                <th width="128px">使用绘本合辑</th>
                                <th width="84px">账号注册时间</th>
                                <th width="84px">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><a href="#">王小明</a></td>
                                <td>男</td>
                                <td>9</td>
                                <td><img src="../../images/teachermanager/icon_qq.png" alt=""></td>
                                <td>15236874592</td>
                                <td>欧阳紫薇</td>
                                <td>一年级（1）班</td>
                                <td style="text-align:left;padding-left:5px">
                                    <span>Read With Amanda</span><br>
                                    <span>Read With Pete</span><br>
                                    <span>Read With Mel</span>
                                </td>
                                <td>2017.12.12</td>
                                <td class="operating">
                                    <a href="#" style="text-decoration: underline">学生功能管理</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- 分页部分 -->
                    <div class="page aria-label=...">
                        <ul class="pagination pull-left">
                            <li class="disabled">
                                <span aria-label="Previous">
                                    <span class="glyphicon glyphicon-menu-left"></span>
                                </span>
                            </li>
                            <li>
                                <a href="#" class="active">1
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">2
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">3
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">4
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">5
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">6
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">7
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li class="more">
                                <a href="#">
                                    <span class="glyphicon glyphicon-option-horizontal"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#">99
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">100
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li class="disabled">
                                <span aria-label="next">
                                    <span class="glyphicon glyphicon-menu-right"></span>
                                </span>
                            </li>
                            <li>到第&nbsp;&nbsp;&nbsp;
                                <input type="text" name="" value="" style="width:50px;height:34px;padding-left:25px">&nbsp;&nbsp;&nbsp;页</li>
                            <li class="conform">
                                <a href="#">确定
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
                        </ul>
                    </div>
            </div>
            <div class="classmanagent list">
                <!-- 列表部分 -->
                <table class="table table-hover">
                        <thead>
                            <tr>
                                <th width="100px">班级名称</th>
                                <th width="50px">学生数</th>
                                <th width="80px">班级有效时间</th>
                                <th width="68px">绘本类型</th>
                                <th width="350px">故事名称</th>
                                <th width="94px">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>一年级（1）班</td>
                                <td>23</td>
                                <td>2017.12.12-2018.12.12</td>
                                <td>Read With Mel</td>
                                <td>
                                    <ul class="f-left spellstory">
                                        <li>Where Am I?</li>
                                        <li>Sam and Dad</li>
                                        <li>Do Not Tap</li>
                                        <li>Too Hot</li>
                                        <li>What Is That?</li>
                                    </ul>
                                    <ul class="f-left readstory">
                                        <li>Moving</li>
                                        <li>New Baby!</li>
                                        <li>What Do I Like?</li>
                                    </ul>
                                </td>
                                <td class="operating">
                                    <ul>
                                        <li><a href="#" style="text-decoration: underline" data-toggle="modal" data-target="#tranferclass">转移班级</a></li>
                                        <li><a href="#" style="text-decoration: underline" data-toggle="modal" data-target="#tranferclass">增加学生</a></li>
                                        <li><a href="#" style="text-decoration: underline" data-toggle="modal" data-target="#deleteclass">转移/删除学生</a></li>
                                        <li><a href="#" style="text-decoration: underline">查看学生名单</a></li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                <!-- 分页部分 -->
                <div class="page aria-label=...">
                    <ul class="pagination pull-left">
                        <li class="disabled">
                            <span aria-label="Previous">
                                <span class="glyphicon glyphicon-menu-left"></span>
                            </span>
                        </li>
                        <li>
                            <a href="#" class="active">1
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">2
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">3
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">4
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">5
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">6
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">7
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="more">
                            <a href="#">
                                <span class="glyphicon glyphicon-option-horizontal"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">99
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">100
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="disabled">
                            <span aria-label="next">
                                <span class="glyphicon glyphicon-menu-right"></span>
                            </span>
                        </li>
                        <li>到第&nbsp;&nbsp;&nbsp;
                            <input type="text" name="" value="" style="width:50px;height:34px;padding-left:25px">&nbsp;&nbsp;&nbsp;页</li>
                        <li class="conform">
                            <a href="#">确定
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="limits list">
                <h5>可对教师拥有的权限进行管理</h5>
                <!-- 权限列表 -->
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th width="230px">权限类型</th>
                            <th width="282px">已拥有的权限</th>
                            <th width="230px">权限操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>绘本管理</td>
                            <td>
                                <span>给教师分配绘本</span><br>
                                <span>绘本删除</span>
                            </td>
                            <td>
                                <a href="#" class="delete">删除权限</a>
                                <a href="#">增加权限</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- 分页部分 -->
                <div class="page aria-label=...">
                    <ul class="pagination pull-left">
                        <li class="disabled">
                            <span aria-label="Previous">
                                <span class="glyphicon glyphicon-menu-left"></span>
                            </span>
                        </li>
                        <li>
                            <a href="#" class="active">1
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">2
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">3
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">4
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">5
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">6
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">7
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="more">
                            <a href="#">
                                <span class="glyphicon glyphicon-option-horizontal"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">99
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">100
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="disabled">
                            <span aria-label="next">
                                <span class="glyphicon glyphicon-menu-right"></span>
                            </span>
                        </li>
                        <li>到第&nbsp;&nbsp;&nbsp;
                            <input type="text" name="" value="" style="width:50px;height:34px;padding-left:25px">&nbsp;&nbsp;&nbsp;页</li>
                        <li class="conform">
                            <a href="#">确定
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- 重置密码模态框 -->
    <div class="modal fade" tabindex="-1" id="resetModal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <img src="../../images/teachermanager/icon_close.png" alt="">
                </button>
            </div>
            <div class="modal-body">
                <h4>确定重置该教师密码吗？</h4>
                <p>重置的密码为注册账号的后六位</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">确定重置</button>
            </div>     
        </div>
    </div>

    <!-- 删除教师模态框 -->
    <div class="modal fade" tabindex="-1" id="deleteTeacher">
        <div class="modal-content">
            <div class="modal-header">
                <h4>提示</h4>
                <button type="button" class="close" data-dismiss="modal">
                    <img src="../../images/teachermanager/icon_close.png" alt="">
                </button>
            </div>
            <div class="modal-body">
                <p>再删除该教师前，请将该教师账号下的<br>学生名单，班级名单，绘本管理的数据转移出去</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">确定</button>
            </div>    
        </div>
    </div>
</body>
</html>