html,
body {
    /* background: #f0f0f0; */
    font-family: "微软雅黑";
    color: #666;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
select,
option,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
a,
footer,
header,
hgroup,
menu,
nav,
section,
 ::before,
 ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li {
    list-style: none;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

input,
textarea {
    border: none;
    outline: none;
    resize: none;
    -webkit-appearance: none;
}

.center {
    width: 960px;
    margin: 0 auto;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}

.clearfix::after,
.clearfix::before {
    content: ".";
    line-height: 0;
    height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}
button,input,select{
    outline:none;
}