<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--AliPay config start-->
    <add key="ApliPayPublicKey_Path" value="" />
    <add key="ApliPayOuerKey_Path" value="" />
    <add key="AliPayAppId" value="test" />
    <add key="AliPayReturnUrl" value="test" />
    <add key="AliPayNotifyUrl" value="test" />
    <add key="AliPayServerUrl" value="test" />
    <!--AliPay config End-->
    <!--WeiXinPay config Start-->
    <add key="WeiXinPayNodifyUrl" value="test" />
    <add key="WeiXinPayKey" value="test" />
    <add key="WeiXinPayServerUrl" value="test" />
    <add key="WeiXinPayQueryOrderUrl" value="test" />
    <add key="WeiXinPayAppId" value="test" />
    <add key="WeiXinPayMCHID" value="test" />
    <add key="WeiXinPayLocalServerIP" value="test" />
    <!--WeiXinPay config End-->
    <add key="PaymentBody" value="test" />
    <add key="PaymentSubject" value="test" />
  </appSettings>
</configuration>